@media (prefers-color-scheme: dark)
    :root
        --color-mode 'dark'

        &:not([data-user-color-scheme])
            --main-color $color_dark
            --bg-color $color_background_dark
            --bg-content-color $color_card_dark
            --bg-menu #363636
            --bg-tag-color $color_tags_block_dark
            --bg-codeblock #000
            --bg-code $color_codeblock_dark
            --body-color $color_font_dark
            --title-color $color_title_dark
            --border-color $color_border_dark

            blockquote
                border-left .25em solid #d29dfc
                color rgba(255,255,255,0.5)
                background-color #292929

            .post__license
                background-color rgba(255,255,255,0.2)

            .post__content
                a
                    color #d29dfc

            .sliding-fold
            details
                background #333333

            table
                tr:not(.code):not(.gutter):nth-child(2n)
                    background-color #272727

[data-user-color-scheme="dark"]
    --color-mode 'dark'
    
    --main-color $color_dark
    --bg-color $color_background_dark
    --bg-content-color $color_card_dark
    --bg-menu #363636
    --bg-tag-color $color_tags_block_dark
    --bg-codeblock #000
    --bg-code $color_codeblock_dark
    --body-color $color_font_dark
    --title-color $color_title_dark
    --border-color $color_border_dark

    blockquote
        border-left .25em solid #d29dfc
        color rgba(255,255,255,0.5)
        background-color #292929

    .post__license
        background-color rgba(255,255,255,0.2)

    .post__content
        a
            color #d29dfc

    .sliding-fold
    details
        background #333333

    table
        tr:not(.code):not(.gutter):nth-child(2n)
            background-color #272727
